<html>
  <head>
    <title>Azalea DataCleaningSystem</title>
    <link href="/css/Base.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
     <div class=AHead>
       <img src="/img/Azalea.jpg" width="100" height="100" >
       <h1>Azalea DataCleaning System </h1>
     </div>
     <p style="color:red; text-align:center">It's recommanded to modify items which are marked red</p> 
     <p class=TableName >{{request.session.DirtyTable}}</p>

     <table class=Table border="1">
         <tr>
         {% for DirtyTableAttr in request.session.DirtyTableAttr %}
           <th> {{DirtyTableAttr}}</th>        
         {% endfor %}
         </tr>
         {% for Onerow in request.session.DirtyTableContentProb %}
           <tr>
             {% for Oneattr in Onerow %}
                {% autoescape off %}
                   {{Oneattr}}
                {% endautoescape %}
             {% endfor %} 
           </tr>
         {% endfor %}  
     </table>
     <form class=button name="input" action="/ProcessAutoRepair/" method="get">
       <input type="submit" value="AutoRepair" />
     </form>     
  </body>   
</html>
